<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<property name="LOG_DIR" value="./logs" />
	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/logAndProperty.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/logAndProperty.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%t]%-5le %X{class} - %msg %n
			</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="ROLLING" />
	</root>
</configuration>